@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #2c2b1f;
  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --nav-hover-bg: #f5f5f5;
  --nav-selected-hover-bg: #e5e7eb;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --nav-hover-bg: #1f2937;
  --nav-selected-hover-bg: #374151;
}

/* 系统主题识别 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s, color 0.3s;
}

.container-paper {
  /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
  background-image: url("../../public/paper.png");
}

hr {
  border-top-color: #ededed;
}
