.markdown p {
  line-height: 1.5;
  margin-bottom: 8px;
}

.markdown blockquote {
  border-left: 4px solid #d1d5db;
  font-style: italic;
  background-color: var(--background);
  opacity: 0.5;
  font-family: Georgia, serif;
  line-height: 1;
  margin: 10px 0px;
  padding: 12px 8px;
}
.markdown blockquote p {
  line-height: 1.2;
  margin-bottom: 0;
}

.markdown img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  border-radius: 2px;
  /* border-color: #efe9e9; */
  /* border-width: 2px; */
  /* box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1); */
}

.markdown.prose {
  /* font-family: "Source Serif Pro"; */
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.05em;
}

/* 标题 h */
.markdown :is(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}

.markdown h1 {
  font-size: 2rem;
  line-height: 1.3;
}
.markdown h2 {
  font-size: 1.75rem;
  line-height: 1.35;
}
.markdown h3 {
  font-size: 1.5rem;
}
.markdown h4 {
  font-size: 1.25rem;
}
.markdown h5 {
  font-size: 1.125rem;
  font-weight: 600;
}
.markdown h6 {
  font-size: 1rem;
  font-weight: 600;
}

.prose.markdown ul.task {
  margin-left: 1rem; /* 缩进一点 */
}

.prose.markdown ul.notask {
  margin-left: 1rem; /* 缩进一点 */
}

.prose.markdown ul.notask ul {
  list-style-type: circle; /* 第二层改为圆圈 */
  margin-left: 1rem; /* 缩进一点 */
}

.prose.markdown ul.notask ul ul {
  list-style-type: square; /* 第三层改为方块 */
  margin-left: 1rem;
}

.prose.markdown ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

.prose.markdown ol ol {
  list-style-type: lower-alpha; /* 第二层用字母 */
  margin-left: 1rem;
}

.prose.markdown ol ol ol {
  list-style-type: lower-roman; /* 第三层用罗马数字 */
  margin-left: 1rem;
}
