.test {
}
.torn-paper {
  background: #b2a45f;
  padding: 1rem;
  width: 300px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    95% 92%,
    90% 88%,
    85% 92%,
    80% 88%,
    75% 92%,
    70% 88%,
    65% 92%,
    60% 88%,
    55% 92%,
    50% 88%,
    45% 92%,
    40% 88%,
    35% 92%,
    30% 88%,
    25% 92%,
    20% 88%,
    15% 92%,
    10% 88%,
    5% 92%,
    0% 90%
  );
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
